* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inconsolata', sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: rgb(255, 255, 255);
    height: 20%;
    align-items: center;
}

nav .left__nav {
    cursor: pointer; /*makes image have visible click option*/
    font-size: 30px;
    font-weight: 600;
}

nav .right__nav {
    padding-right: 50px;
    margin: 0 10px;
}


li {
    font-family: 'Inconsolata', sans-serif;
    font-weight: bold;
    list-style: none; /*removes bullet points from list*/
    padding: 0;
    color: black;
    font-size: larger;
}

a {
    text-decoration: none; /*removes underlines from links*/
    color: black;
}

.nav_links li {
    display: inline-block; /*makes list horizontal instead of vertical(default)*/
    margin: 0 20px;
    position: relative;
    padding-bottom: 0.25rem;
}

.nav_links li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: black;
    transition: width 0.45s ease-out;
}

.nav_links li:hover::before {
    width: 100%;
}


.hero {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: center;
}

.headshot img {
}



@media(max-width: 600px) {
    /* NAVBAR */
    nav {
        padding: 50px 20px;
    }

    nav .right__nav a {
        font-size: 22px;
    }
}