* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: rgb(255, 255, 255);
    height: 20%;
    align-items: center;
}

nav .left__nav {
    cursor: pointer; /*makes image have visible click option*/
    font-size: 30px;
    font-weight: 600;
}

nav .right__nav {
    padding-right: 50px;
    margin: 0 10px;
}


li {
    font-family: 'Inconsolata', sans-serif;
    font-weight: bold;
    list-style: none; /*removes bullet points from list*/
    padding: 0;
    color: black;
    font-size: larger;
}

a {
    text-decoration: none; /*removes underlines from links*/
    color: black;
}

.nav_links li {
    display: inline-block; /*makes list horizontal instead of vertical(default)*/
    margin: 0 20px;
    position: relative;
    padding-bottom: 0.25rem;
}

.nav_links li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: black;
    transition: width 0.45s ease-out;
}

.nav_links li:hover::before {
    width: 100%;
}

/* NAVBAR DROPDOWN */

.dropdown__button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.dropdown__links {
    display: none;
    position: absolute;
    top: 100%; /* to position BELOW the button */
    right: 100px;
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
}

.dropdown__links li {
    text-align: right;
}

.dropdown__links li a {
    display: block;
    color: black;
}


.hero {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin: 50px 0;
    align-items: center;
    gap: 70px;
    margin-bottom: 150px;
}

.hero h2 {
    padding-bottom: 10px;
    font-size: 45px;
}

.hero .text {
    flex: 5;
}

.hero p {
    font-size: 20px;
}

.hero .name {
    color: rgb(41, 41, 250);
}

.hero .headshot {
    display: flex;
    justify-content: right;
    flex: 4;
}

.headshot img {
    width: 600px;
    height: auto;
    border-radius: 50%;

}

@media(max-width: 1110px) {
    .hero .headshot img {
        width: 500px;
    }
}

@media(max-width: 970px) {
    .hero .headshot img {
        width: 400px;
    }
}

@media(max-width: 880px) {
    .hero .headshot img {
        width: 400px;
    }
}

@media(max-width: 850px) {
    /* HERO SECTION */
    .hero h2 {
        font-size: 35px;
    }

    .hero {
        flex-direction: column-reverse;
    }
}

@media(max-width: 740px) {
    /* HERO SECTION */
    .hero {
        flex-direction: column-reverse;
    }

    .hero .headshot img {
        width: 400px;
    }
}

/*placeholder for now (fix navbar) */
@media(max-width: 726px) {
    .right__nav {
        display: none;
    }

    .dropdown__button {
        display: block;
    }

    nav {
        justify-content: space-between;
    }

    .dropdown__links {
        display: none;
        position: absolute;
        top: 60px;
    }
}


@media(max-width: 600px) {
    /* NAVBAR */
    nav {
        padding: 50px 20px;
    }

    nav .right__nav a {
        font-size: 22px;
    }
}



